
body {
  background-color: rgb(38, 51, 56); 
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  height: 6px;
}

.output h3 {
  text-align: center;
  color: #eae028;
}

#cpu-gauge, #disk-gauge, #mem-gauge {
  padding: 4px;
}

/* The alert message box */
.alert {
  padding: 12px;
  width: 400px;
  background-color: #f31e1e; /* Red */
  color: rgb(14, 14, 15);
  margin-top: 4px;
  margin-bottom: 1px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

