<!DOCTYPE html>
<html>
<head>
    <title>System Monitoring</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        .plotly-graph-div {
            margin: auto;
            width: 50%;
            background-color: rgba(151, 128, 128, 0.688);
            padding: 20px;
        }
    </style>
    
</head>
<body>
    <h1>System Monitoring</h1>
    
    <div style="text-align: right;">
        <a  href="http://www.linkedin.com/in/pirumohan-mandal-556668222" target="_main">
            <button style="background-color: aqua; border-radius: 5px;">Contact</button>
        </a>
    </div>
        
    <div id="cpu-gauge" style="margin-right: 17px;"></div>
    <div id="mem-gauge"></div>
    <div id="disk-gauge"></div>
   
    <div class="output">
        <h3>Operating System :  <button>{{os}}</button>  </h3>
        <h3>Processor's Information : <button>{{processor}}</button></h3>
        <h3>Number of CPUs : <button>{{cpu_count}}</button></h3>
        <!-- <h3>Disk Partitions : <button>{{disk_partitions}}</button></h3> -->
    </div>

    {% if message1 %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{message1}}
    </div>
    {% endif %}

    {% if message2 %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{message2}}
    </div>
    {% endif %}

    {% if message3 %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{message3}}
    </div>
    {% endif %}


    <script>

        var cpuGauge = {
            type: "indicator",
            mode: "gauge+number",
            value: {{ cpu_metric }},
            gauge: {
                axis: { range: [null, 100] },
                bar: { color: "#1f77b4" },
                bgcolor: "white",
                borderwidth: 2,
                bordercolor: "#ccc",
                steps: [
                    { range: [0, 40], color: "#25CC00" },
                    { range: [40, 80], color: "E6DC15" },
                    { range: [80, 100], color: "#EC1414" }
                ],
                threshold: {
                    line: { color: "black", width: 4 },
                    thickness: 0.75,
                    value: {{ cpu_metric }}
                }
            }
        };
        
        var memGauge = {
            type: "indicator",
            mode: "gauge+number",
            value: {{ mem_metric }},
            gauge: {
                axis: { range: [null, 100] },
                bar: { color: "#1f77b4" },
                bgcolor: "white",
                borderwidth: 2,
                bordercolor: "#ccc",
                steps: [
                    { range: [0, 40], color: "#25CC00" },
                    { range: [40, 80], color: "E6DC15" },
                    { range: [80, 100], color: "#EC1414" }
                ],
                threshold: {
                    line: { color: "black", width: 4 },
                    thickness: 0.75,
                    value: {{ mem_metric }}
                }
            }
        };

        var diskGauge = {
            type: "indicator",
            mode: "gauge+number",
            value: {{ disk_metric }},
            gauge: {
                axis: { range: [null, 100] },
                bar: { color: "#1f77b4" },
                bgcolor: "white",
                borderwidth: 2,
                bordercolor: "#ccc",
                steps: [
                    { range: [0, 40], color: "#25CC00" },
                    { range: [40, 80], color: "E6DC15" },
                    { range: [80, 100], color: "#EC1414" }
                ],
                threshold: {
                    line: { color: "black", width: 4 },
                    thickness: 0.75,
                    value: {{ disk_metric }}
                }
            }
        };
        
        var cpuGaugeLayout = { title: "CPU Utilization"};
        var memGaugeLayout = { title: "Memory Utilization"};
        var diskGaugeLayout = { title: "Disk Utilization" };
        
        Plotly.newPlot('cpu-gauge', [cpuGauge], cpuGaugeLayout);
        Plotly.newPlot('mem-gauge', [memGauge], memGaugeLayout);
        Plotly.newPlot('disk-gauge', [diskGauge], diskGaugeLayout);
    </script>
</body>
</html>